header{
  position: relative;
  background: white;
  padding: 0px;
  border-bottom: 1px solid green;
}
a{
  color: rgb(3, 50, 14)  ;
  text-decoration: none;
}
a:hover{
  background: rgba(7, 159, 93, 0.652);
  color: rgb(2, 32, 124);
  cursor: pointer;
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  padding: 1rem;
}
ul{
  display: flex;
  list-style: none;
  margin: 0px;
}
ul a{
  padding: 1rem;
  display: inline-block;
}
a span{
  background: rgb(6, 11, 161);
  color: rgb(195, 193, 209);
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
}
.menu-container{
  position: relative;
}
.menu{
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  display: none;
}
.menu-container:hover  .menu{
   display: block;
}
.menu a{
  width: 100%;
  min-width: 8rem;
}
